@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  background: var(--bodyColor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}


:root{
  --bodyColor: #e7eaf8;
  --btnBgColor: #AD1FEA;
  --bgColor: #FFFFFF;
  --navbarBgColor: #373F68;;
  --titleColor:  #3A4374;
  --textColor: #647196;;
  --defaultBtnBgColor: #F2F4FF;
  --hoverBtnBgColor: #CFD7FF;
  --activeBgColor: #4661E6;
}